body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #dddddd;

}

figcaption{
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 15px;
    display: block;
    float: left;
    position: absolute;
    bottom: 15px;
    padding-right: 137px;
    text-align: center;
}

figure{
    float: left;
    overflow: auto;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;

}

header{
    background-color: #ffffff;
    border-bottom: #cccccc 2px solid;
}

hr{
    color: #777777;
}

main{
    display: block;
}

p{
    color: #777777;
    float: left;
    width: 80%;
}

.bio-text{

}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

.container{
    width: 960px;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;

}

.logo{
    color: white;
    background-color: #4aaaa5;
    text-decoration: none;
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    

}

.main-nav{
    margin-bottom: 30px;
    

}

.nav-item{
    text-decoration: none;
    float: right;
    padding-right: 5px;
    color: #777777;
    font-size: 18px;
}

.page-heading{
    margin-top: 35px;
}

#copyright-text{
    background-color: #666666;
    color: white;
    border-top: #4aaaa5 solid 5px;
    display: block;
    text-align: center;
    bottom: 0;
    position: sticky;
}

#contact-submit-button, #contact-reset-button{
    color: white;
    background-color: #4aaaa5;
    
}

#profile-photo{
    float: left;
    overflow: auto;
    width: 15%;
    height: auto;
    margin-right: 10px;
    margin-left: 5px;

}

#page-heading{
    margin-top: 0px;
}